.about_us {
  max-width: 320px;
  width: 100%;
  text-align: center;
  margin: 0;
}

.profiles {
  font-family: "Open Sans", sans-serif;
}

.about {
  font-family: "Rubik";
  font-weight: Medium;
  font-size: 24px;
  color: #099d8d;
}

.image-container {
  margin: 0 auto;
  background: rgb(238, 236, 236);
  width: 180px;
  height: 180px;
  padding: 6px;
  border-radius: 12px;
}

img {
  border-radius: 8px;
}

.names {
  font-size: 20px;
}

.description {
  font-size: 16px;
  color: #54585a;
}

.items-icons {
  width: 16px;
  height: 18px;
  display: inline-block;
  box-sizing: border-box;
  transition: transform 1s ease-in-out;
}

.items-icons:hover {
  transform: rotate(360deg);
}

.icons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 100px;
  margin: 16px 0 32px 0;
}

.fab,
.fas {
  color: #099d8d;
}

@media all and (min-width: 768px) {
  .about_us {
    max-width: 100vh;
    margin: auto;
  }
  .profiles {
    display: flex;
    margin: 44px;
  }

  .info-container {
    display: row;
    text-align: end;
  }

  .icons {
    width: 124px;
    padding: 0;
    display: inline-block;
  }
  .profiles:nth-child(odd) {
    flex-direction: row-reverse;
  }
}
